<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- ejs에서 자바스크립트 폴더로 접근 (app.js 세팅) -->
  <script src="/js/home/login.js"></script>
  <title>Document</title>
</head>
<body>
  <input type="text" placeholder="ID"><br/>
  <input type="text" placeholder="PASSWORD"><br/>
  <button>SUBMIT</button>
  히히
</body>
</html>